nav, .contenedor, .inicio, footer,aside, header {
    max-width: 90%;
    margin: auto;
}

nav{
    background-color: darkgoldenrod;
    
}
body{background-image: url(../IMG/lineas.jpg);}

.contenedor{
   

}
.inicio{

    
    display: inline-block;
    max-width: 65%;
}


.centro{
    display: block;
    margin: auto;
    
}



aside{

    display: inline-block;
    max-width: 27%;
}

