nav, .contenedor, .inicio, footer,aside, header, .footer {
    max-width: 60%;
    margin: auto;
}
 

body{background-image: url(../IMG/lineas.jpg);}

.inicio{

    
    display: inline-block;
    max-width: 65%;
}

.centro{
    display: block;
    margin: auto;

    
}

.contenedor{
    text-align: center;
}

.footer{
    background-color: #005883;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    

}
.sociales{
text-align: center;
padding-top: 40px;
padding-bottom: 40px;

}
.redes{
    height: 150px;
    padding: 20px;

    }

.redes h2{
   text-align: center;
    
   }


   .menuactividades{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable2{
    display: none;
    background-color:#F0B429;
    position: absolute;
    border-radius: 10px
        
}
.listadesplegable2 a{
    color:blue;
    display: block;
    text-align: left;
    
}
.menuactividades:hover .listadesplegable2{
    display: block;
    color: blue;
}
     
li a:hover{
    background-color:aqua;
}

.footer{
    background-color: #005883;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    

}

.menu{
    text-align: center;
}
.menu li{
    display: inline-block;
    text-decoration: blue;
    text-align: center;
    
}

li a ,.botonn{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable{
    display: none;
    background-color:#F0B429;
    position: absolute;
    border-radius: 10px
        
}
.listadesplegable a{
    color:blue;
    display: block;
    text-align: left;
    
}
.botonn:hover .listadesplegable{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}
