nav, .contenedor, .inicio, footer,aside, header {
    max-width: 90%;
    margin: auto;
}
 

body{background-image: url(../IMG/lineas.jpg);}

.inicio{

    
    display: inline-block;
    max-width: 65%;
}

.centro{
    display: block;
    margin: auto;
    
}



aside{

    display: inline-block;
    max-width: 27%;
}

