@charset "utf-8";
/* CSS Document */

.contenido1
{	left:25%;
	width:50%;
	height:50%;
	position: absolute;
}
.titulocon
{	font-size:1.5em;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.titulof
{	font-size:1em;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.desarrollo
{
font-size:1em;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
text-align: justify;
	line-height: 1.3em;
	
}

.multimedio
{	
	padding-top:20%;
	margin-left:25%;
	width:50%;
	margin-right:25%;
}

.ova
{	margin-top:3%;
	width:60%;
}

.ova iframe
{
	width: 560px;
	height: 315px;
}

.menuactividades{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable2{
    display: none;
    background-color:white;
    position: absolute;
    
        
}
.listadesplegable2 a{
    color:blue;
    display: block;
    text-align: left;
    
}
.menuactividades:hover .listadesplegable2{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}

.footer{
    background-color: #005883;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    

}

.menu{
    text-align: center;
}
.menu li{
    display: inline-block;
    text-decoration: blue;
    text-align: center;
    
}

li a ,.botonn{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable{
    display: none;
    background-color:#F0B429;
    position: absolute;
    border-radius: 10px
        
}
.listadesplegable a{
    color:blue;
    display: block;
    text-align: left;
    
}
.botonn:hover .listadesplegable{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}
