body{
    max-width: 120%;
    color: black
    
}

nav, header, .articulos, footer, aside{
    max-width: 90%;
    margin: auto;
}

nav{
   
    text-align: center;
}
header img{  
 

}

.centrado{
    margin: 10px auto;
    display: block;
}

.articulos{
   
}
footer {
   
}
aside {
    
    max-width: 50%;
    
}
/*menu*/
.menu li{
    display: inline-block;
}

li a ,.botonn{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable{
    display: none;
    background-color:white;
    position: absolute;
    
        
}
.listadesplegable a{
    color: green;
    display: block;
    text-align: left;
    
}
.botonn:hover .listadesplegable{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}




