body{
    max-width: 120%;
    color: black    
}
nav, header, .articulos, footer, aside, contenedor{
    max-width: 90%;
    margin: auto;
}
nav{   
    text-align: justify;
}
.centrado{
    margin: 10px auto;
    display: block;
}   

aside {    
    max-width: 50%;    
}
 h1{
    text-align: center;
}


 
.cronologias h3{
    text-align: center;
}
/*menu*/
.menu{
    text-align: center;
}
.menu li{
    display: inline-block;
    text-decoration: blue;
    text-align: center;
    
}

li a ,.botonn{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable{
    display: none;
    background-color:white;
    position: absolute;
    
        
}
.listadesplegable a{
    color:blue;
    display: block;
    text-align: left;
    
}
.botonn:hover .listadesplegable{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}
/*menu actividades*/


.menuactividades{
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable2{
    display: none;
    background-color:white;
    position: absolute;
    
        
}
.listadesplegable2 a{
    color:blue;
    display: block;
    text-align: left;
    
}
.menuactividades:hover .listadesplegable2{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color:aqua;
}

.footer{
    background-color: #005883;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    

}
