body{
    background-color: yellowgreen;
    max-width: 80%;
    color: white
    
}

nav, header, .articulos, footer, aside{
    max-width: 90%;
    margin: auto;
}

nav{
    background-color: brown;
    text-align: center;
}
header{
    background-color: darkcyan;
}

.articulos{
    background-color: green;
}
footer {
    background-color: tomato;
}
aside {
    background-color:black;
    max-width: 50%;
    
}
/*menu*/
.menu li{
    display: inline-block;
}

li a ,.botonn{
    display: inline-block;
    color:greenyellow;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
}
.listadesplegable{
    display: none;
    background-color:white;
    position: absolute;
    
        
}
.listadesplegable a{
    color: green;
    display: block;
    text-align: left;
    
}
.botonn:hover .listadesplegable{
    display: block;
    color: yellow;
}
     
li a:hover{
    background-color: red;
}
